In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

import fix_yahoo_finance as yf

In [16]:
stock = 'GOOGL'
start = '2021-01-01' 
end = '2021-12-31'
data = yf.download(stock, start, end)
data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,1760.000000,1762.489990,1707.140015,1726.130005,1726.130005,1866200
2021-01-05,1725.089966,1746.829956,1716.900024,1740.050049,1740.050049,1018000
2021-01-06,1700.260010,1743.969971,1696.099976,1722.880005,1722.880005,2329400
2021-01-07,1726.760010,1777.819946,1726.760010,1774.339966,1774.339966,2096800
2021-01-08,1777.160034,1799.359985,1761.219971,1797.829956,1797.829956,1774200

In [18]:
df = data.reset_index()
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,1760.000000,1762.489990,1707.140015,1726.130005,1726.130005,1866200
1,2021-01-05,1725.089966,1746.829956,1716.900024,1740.050049,1740.050049,1018000
2,2021-01-06,1700.260010,1743.969971,1696.099976,1722.880005,1722.880005,2329400
3,2021-01-07,1726.760010,1777.819946,1726.760010,1774.339966,1774.339966,2096800
4,2021-01-08,1777.160034,1799.359985,1761.219971,1797.829956,1797.829956,1774200

In [19]:
X = df.drop(['Date','Close'], axis=1, inplace=True)
y = df[['Adj Close']]

In [20]:
from sklearn.model_selection import train_test_split

# Split X and y into X_
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.25,  random_state=0)

In [21]:
from sklearn.linear_model import LinearRegression

regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

LinearRegression()

In [22]:
intercept = regression_model.intercept_[0]

print("The intercept for our model is {}".format(intercept))

The intercept for our model is -4.014054866274819e-09

In [23]:
regression_model.score(X_test, y_test)

1.0

In [24]:
from sklearn.metrics import mean_squared_error

y_predict = regression_model.predict(X_test)

regression_model_mse = mean_squared_error(y_predict, y_test)

regression_model_mse

1.6777421514598045e-18

In [25]:
math.sqrt(regression_model_mse)

1.2952768628597534e-09

In [26]:
# input the latest Open, High, Low, Close, Volume
# predicts the next day price
regression_model.predict([[167.81, 171.75, 165.19, 166.48, 37232900]])

array([[166.48000009]])