In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

import warnings
warnings.filterwarnings("ignore")

import yfinance as yf
yf.pdr_override()

In [2]:
symbol = 'GOOGL'
start = '2021-01-01' 
end = '2021-12-31'
df = yf.download(symbol, start, end)
df = df.reset_index()

[*********************100%***********************]  1 of 1 completed

In [3]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,1760.000000,1762.489990,1707.140015,1726.130005,1726.130005,1866200
1,2021-01-05,1725.089966,1746.829956,1716.900024,1740.050049,1740.050049,1018000
2,2021-01-06,1700.260010,1743.969971,1696.099976,1722.880005,1722.880005,2329400
3,2021-01-07,1726.760010,1777.819946,1726.760010,1774.339966,1774.339966,2096800
4,2021-01-08,1777.160034,1799.359985,1761.219971,1797.829956,1797.829956,1774200

In [4]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
246,2021-12-23,2930.000000,2964.870117,2929.040039,2938.330078,2938.330078,1319200
247,2021-12-27,2945.120117,2966.879883,2943.389893,2958.129883,2958.129883,798800
248,2021-12-28,2964.719971,2965.979980,2921.090088,2933.739990,2933.739990,910000
249,2021-12-29,2932.889893,2948.340088,2912.949951,2933.100098,2933.100098,889400
250,2021-12-30,2933.879883,2946.000000,2919.889893,2924.010010,2924.010010,784400

In [8]:
X_train = df[df.columns[1:5]] # data_aal[['open', 'high', 'low', 'close']]
Y_train = df['Adj Close']

In [9]:
X_train = X_train.values[:-1]
Y_train = Y_train.values[1:]

In [10]:
lr = LinearRegression()

In [11]:
lr.fit(X_train, Y_train)

LinearRegression()

In [12]:
X_test = df[df.columns[1:5]].values[:-1]
Y_test = df['Adj Close'].values[1:]

In [13]:
lr.score(X_test, Y_test)

0.99032030633022

In [14]:
opening_price = float(input('Open: '))
high = float(input('High: '))
low = float(input('Low: '))
close = float(input('Close: '))
print('My Prediction the opening price will be:', lr.predict([[opening_price, high, low, close]])[0])

Open: 2933.879883
High: 2946.000000
Low: 2919.889893
Close: 2924.010010
My Prediction the opening price will be: 2924.225751704691